rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"

cursor = "#f4dbd6"
foreground = "#cad3f5"
background = "#24273a"
selection_foreground = "#24273a"
selection_background = "#f4dbd6"
color0 = "#494d64"
color1 = "#ed8796"
color2 = "#a6da95"
color3 = "#eed49f"
color4 = "#8aadf4"
color5 = "#f5bde6"
color6 = "#8bd5ca"
color7 = "#b8c0e0"
color8 = "#5b6078"
color9 = "#ed8796"
color10 = "#a6da95"
color11 = "#eed49f"
color12 = "#8aadf4"
color13 = "#f5bde6"
color14 = "#8bd5ca"
color15 = "#a5adcb"
